* {
    background-color: #dbb6a7;
}

#intro {
    margin-top: 3rem;
    text-align: center;
    font-size: 4.5rem;
    color: #d42929;
}

#map {
    width: 40rem;
    height: 20rem;
}

.content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}