body {
    background-color: #dbb6a7;
}

#intro {
    margin-top: 3rem;
    text-align: center;
    font-size: 4.5rem;
    color: #d42929;
    margin-bottom: 4rem;
}

#map {
    height: 60rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border: #d42929 solid 10px;
    border-radius: 40px;
}

.content {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.location-track {
    margin-top: 2rem;
    margin-right: 4rem;
    margin-left: 4rem;
    display: flex;
}

#location {
    font-size: 26px;
    border-radius: 10px;
}

#location-button {
    font-size: 30px;
    border-radius: 10px;
}

